.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/*======Reset========*/
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  cursor: pointer;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #2e2f42;
}

h3 {
  color: #434455;
}

/*====================Utilits=================*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*================Common==============*/
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.section {
  padding: 96px 0px;
}
@media screen and (min-width: 768px) {
  .section {
    /* max-width: 768px; */
  }
}
@media screen and (min-width: 1158px) {
  .section {
    /* max-width: 1158px; */
    padding: 120px 0px;
  }
}
/*=======================Header=========================*/
/*================Mobile=================*/
.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.header-contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.header-logo-part {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

/*====================Tablet============================*/
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-container {
    flex-direction: row;
  }

  .header-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-logo {
    padding: 24px 0;
  }

  .nav-list,
  .nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .nav-list,
  .header-contacts {
    display: flex;
  }
  .nav-list {
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-left: 120px;
  }
  .nav-link {
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .nav-list .nav-link:focus,
  .header-contacts-list .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
  .header-contacts {
    font-style: normal;
    margin-left: auto;
  }
  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* .header-contacts-list {
    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    
  } */
  /* .header-contacts-list,
  .header-contacts-items {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
  } */
}

/*===========================Desktop======================*/
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .nav-list {
    margin-left: 76px;
  }
  .header-contacts-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .contacts-link {
    padding: 24px 0;
  }
  .header-contacts-items {
    padding: 24px 0;
  }
}
/*=======================Header=========================*/

/*=====================Section 1 - Hero==========================*/

/*================Mobile=================*/
.hero {
  background-color: #2e2f42;
  max-width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero_mob.jpg");
  margin-left: auto;
  margin-right: auto;
  padding-top: 72px;
  padding-bottom: 72px;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_mob@2x.jpg");
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  max-width: 216px;
  text-align: center;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.order-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
/*====================Tablet============================*/
@media screen and (min-width: 768px) {
  .hero {
    background-color: #2e2f42;
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_tab.jpg");
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero_tab@2x.jpg");
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
/*===========================Desktop======================*/
@media screen and (min-width: 1158px) {
  .hero {
    background-color: #2e2f42;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero_desk.jpg");
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero_desk@2x.jpg");
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
}
/*=====================Section 1 - Hero==========================*/

/*====================Section 2 - Fauter===================*/
/*===========================Mobile===================*/

.feauter {
  margin-left: auto;
  margin-right: auto;
}
.feauter-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.box-icon {
  display: none;
}
.feauter-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.feauter-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: justify;
}

/*=============================Tablet=========================*/

@media screen and (min-width: 768px) {
  .feauter-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .feauter-item {
    width: calc((100% - 24px) / 2);
  }
  .feauter-subtitle {
    text-align: left;
  }
}

/*=========================Desktop============================*/

@media screen and (min-width: 1158px) {
  .feauter-item {
    width: calc((100% - 72px) / 4);
  }
  .box-background {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #0518ea;
    margin-bottom: 8px;
  }
  .box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .feauter-list-icon {
    display: flex;
    padding: 24px 100px;
    width: 264px;
    height: 112px;
  }
  .feauter-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .feauter-text {
    font-weight: 400;
  }
}
/*====================Section 2 - Fauter===================*/

/*=====================Section 3 - Our Team======================*/
/*============================Mobile===================*/

.team {
  background-color: #f4f4fd;
  margin-left: auto;
  margin-right: auto;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  padding-left: 12px;
  padding-right: 12px;
}

.team-item {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
}
.team-image {
  max-width: 100%;
}
.team-card {
  padding: 32px 0;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.social-list-item {
  width: calc((100% - 48px) / 4);
}
.social-list-link {
  width: 40px;
  height: 40px;

  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  line-height: 0;
  fill: #f4f4fd;
  justify-content: center;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

/*============================Mobile===================*/

/*============================Tablet===================*/
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    padding-left: 92px;
    padding-right: 92px;
  }
  .team-item {
    width: calc((100% -24px) / 2);
  }
}

/*============================Desktop===================*/
@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
  }
  .team-item {
    width: calc((100% -72px) / 4);
  }
}
/*=====================Section 3 - Our Team======================*/

/*==================Section 4 - Portfolio=======================*/
/*============================Mobile===================*/

.portfolio {
  margin-left: auto;
  margin-right: auto;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
}

.box-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  cursor: pointer;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/*============================Mobile===================*/

/*============================Tablet===================*/
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
  }

  /*.team-item {
    width: calc((100% -24px) / 2);
  }*/
}
/*============================Tablet===================*/

/*============================Desktop===================*/
@media screen and (min-width: 1158px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-item {
    box-shadow: none;
  }
  .portfolio-item:hover {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #ffffff;
  }
  /* .team-item {
    width: calc((100% -48px) / 3);
  }*/
}
/*============================Desktop===================*/
/*==================Section 4 - Portfolio=======================*/

/*=========================Footer==================================*/
/*============================Mobile===================*/
.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.footer-logo-part {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: start;
}
.footer-social {
  margin-right: 40px;
  margin-left: 40px;
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.social-list.infooter {
  justify-content: space-around;
  gap: 16px;
  padding-left: 0;
  padding-right: 0;
}
.social-list-link.infooter:hover,
.social-list-link.infooter:focus {
  background-color: #31d0aa;
}
.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-subscribe-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.footer-subscribe-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-form-input {
  display: flex;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-form-input::placeholder {
  color: #ffffff;
}
.subscribe-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  background-color: #404bbf;
}

.icon-send {
  line-height: 0;
  margin-left: 16px;
  fill: #f4f4fd;
}

/*============================Mobile===================*/

/*============================Tablet===================*/
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 92px;
    column-gap: 24px;
    align-items: baseline;
  }
  .footer-logo,
  .social-title {
    text-align: left;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-subscribe-form {
    align-items: flex-start;
  }

  .footer-social {
    margin: 0px;
  }
  .footer-form {
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .subscribe-form-input {
    width: 264px;
  }
}
/*============================Tablet===================*/

/*============================Desktop===================*/
@media screen and (min-width: 1158px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    column-gap: 0;
  }

  .footer-part {
    margin-right: 120px;
  }
  .footer-logo {
    display: inline-block;
    justify-content: flex-start;
  }
  .footer-social {
    margin-right: 80px;
  }
  .social-list.infooter {
    margin-top: 8px;
  }
  .footer-subscribe-form {
    margin-left: auto;
  }
}
/*============================Desktop===================*/
/*=========================Footer==================================*/

/*======================================backdrop=====================*/
/*============================Mobile===================*/
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  /*width: 288px;
  min-height: 623px;*/
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  padding: 24px 16px;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.modal-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  margin-top: 48px;
}
.feedback-form-field {
  width: 100%;
  margin-bottom: 8px;
}
.feedback-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.feedback-form-input-wrapper {
  position: relative;
}
.feedback-form-input {
  min-width: 256px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.feedback-form-input:focus,
.feedback-form-input:hover {
  border-color: #4d5ae5;
}
.feedback-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form-input:focus + .feedback-form-input-icon,
.feedback-form-input:hover + .feedback-form-input-icon {
  fill: #4d5ae5;
}
.feedback-form-field-comment {
  margin-bottom: 16px;
}
.feedback-form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding-top: 8px;
  padding-left: 16px;
  color: #2e2f42;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form-comment::placeholder {
  color: rgba(142, 143, 153, 0.5);
}
.feedback-form-comment:focus,
.feedback-form-comment:hover {
  border-color: #4d5ae5;
}
.feedback-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.feedback-form-checkbox:focus,
.feedback-form-checkbox:hover {
  fill: #ffffff;
  background-color: #404bbf;
}
.feedback-form-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.feedback-form-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.another-color {
  line-height: 1.33333;
  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.feedback-form-checkbox:checked
  + .feedback-form-checkbox-label
  > .feedback-form-checkbox-area {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.feedback-form-checkbox:focus
  + .feedback-form-checkbox-label
  > .feedback-form-checkbox-area {
  border-color: #404bbf;
}
.feedback-form-checkbox-area {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedbeck-form-send-btn {
  display: block;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.feedbeck-form-send-btn:hover,
.feedbeck-form-send-btn:focus {
  background-color: #404bbf;
}
/*============================Mobile===================*/

/*============================Tablet===================*/
@media screen and (min-width: 768px) {
  .modal {
    padding: 24px;
  }
}
/*============================Desktop===================*/
/*======================================backdrop=====================*/

/* ===================backdrop Modal Menu_mobile ==================== */

/*============================Mobile===================*/
.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu {
  position: relative;
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 72px 16px 40px 16px;
}

.menu-nav-list {
  display: flex;
  align-items: self-start;
  gap: 40px;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-nav-link {
  display: block;
  color: #2e2f42;
  padding: 8px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav-link.current {
  position: relative;
  color: #404bbf;
}
.contacts-social {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.menu-contacts {
  font-style: normal;
  margin-bottom: 48px;
}
.menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-nav-list .menu-nav-link:focus,
.menu-contacts-list .menu-contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

.menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.menu-contacts-link.current {
  position: relative;
  color: #404bbf;
}
/* .menu-social {
  padding-bottom: 40px;
} */
.menu-social-list {
  display: flex;
  gap: 40px;
}
.menu-social-list-link {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social-list-icon {
  line-height: 0;
  fill: #f4f4fd;
  justify-content: center;
}

.menu-social-list-link:focus {
  background-color: #404bbf;
}
/*============================Mobile===================*/

/*============================Tablet===================*/
@media screen and (min-width: 768px) {
  .mobile-menu-backdrop {
    display: none;
  }
}

/* ===================backdrop Modal Menu_mobile ==================== */
